//
// Light Buttons
//

.v-btn {
  &.bg-lightsecondary {
    &:hover,
    &:active,
    &:focus {
      background-color: rgb(var(--v-theme-secondary)) !important;
      color: $white !important;
    }
  }
}

.v-btn {
  text-transform: capitalize;
  letter-spacing: $btn-letter-spacing;
}
.v-btn--icon.v-btn--density-default {
  width: calc(var(--v-btn-height) + 6px);
  height: calc(var(--v-btn-height) + 6px);
}

.btn-edit {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(var(--v-theme-warning)) !important;
  color: $white !important;
}
.btn-detail {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(var(--v-theme-success)) !important;
  color: $white !important;
}
.btn-delete {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(var(--v-theme-error)) !important;
  color: $white !important;
}
.btn-explore {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(var(--v-theme-info)) !important;
  color: $white !important;
}
.btn-explore-route {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(var(--v-theme-info)) !important;
  color: $white !important;
}
.btn-td {
  text-align: center;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}